@charset "utf-8";

#wrap {
    float: left;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    background: #0f0025 url(./space.jpg) center top no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.domain_wrap {
    float: left;
    width: 100%;
    display: flex;
    padding: 0 0 50px;
}

.domain_box {
    width: 900px;
    margin: 0 auto;
}

.domain_logo {
    float: left;
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
}

.domain_title {
    float: left;
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0;
    font-family: 'GmarketSans';
    font-size: 60px;
    color: #ffffff;
    font-weight: 800;
}

.domain_title span {
    color: #6600ff;
    /* font-size: medium; */
}

.domain_btn {
    float: left;
    width: 100%;
    margin: 40px 0 0 0;
    /* font-size: 600px; */
}

.domain_btn li {
    float: left;
    width: 49%;
    margin: 0 2% 2% 0;
    text-align: center;

}

.domain_btn li:nth-child(2n) {
    margin: 0 0 2% 0;
    /* font-size: 600px; */
}

.domain_btn li a {
    display: block;
    width: 100%;
    padding: 40px 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #5f1aff 0%, #2a0027 100%);
    font-family: 'GmarketSans';
    font-size: 40px;
    color: #ffffff;
    transition: all 0.5s;
    font-weight: 800;
}

.domain_btn li a span {
    display: block;
    font-size: 30px;
    color: #ffd000;
}

.domain_btn li a:hover {
    box-shadow: 0 0 50px rgba(102, 0, 255, 0.7);
    border-radius: 10px;
    font-size: 40px;

}

.domain_text {
    float: left;
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
    line-height: 1.4;
    font-family: 'GmarketSans';
    font-size: 30px;
    font-weight: 800;
    color: #2d128d;
}

.domain_text span {
    color: #ffffff;
    font-weight: 500
}

@media screen and (max-width:1024px) {
    .domain_box {
        float: left;
        width: 80%;
        padding: 0 20px;
    }

    .domain_logo img {
        width: 60%;
    }

    .domain_title {
        font-size: 30px;
        margin: 30px 0 0 0;
    }

    .domain_text {
        font-size: 20px;
        margin: 30px 0 0 0;
    }

    .domain_btn li a {
        font-size: 32px;
        padding: 20px;
    }

    .domain_btn li a span {
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    .domain_logo img {
        width: 70%;
    }

    .domain_btn {
        margin: 20px 0 0 0;
    }

    .domain_btn li {
        width: 100%;
        margin: 0 0 1% 0;
    }

    .domain_btn li:nth-child(2n) {
        margin: 0 0 1% 0;
    }

    .domain_title {
        font-size: 24px;
    }

    .domain_text {
        font-size: 16px;
    }

    .domain_btn li a {
        font-size: 32px;
    }

    .domain_btn li a span {
        font-size: 14px;
    }

}

@media screen and (max-width:450px) {}
